@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
* {
    font-family: Figtree;
    margin: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding-top: 100px;
}

.content__container {
    width: 1440px;
    display: flex;
    margin-left: 240px;
}

.content1 p {
    font-size: 18px;
    color: #1D1F1E;
    padding-top: 32px;
}

.content1 a {
    font-size: 18px;
    color: #022C22;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-top: 16px;
}

.text-content {
    width: 488px;
}

.text-content h1 {
    font-size: 24px;
    font-weight: 400;
}

.pic-content {
    margin-left: 480px;
}

.content_button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 48px;
    color: #929C9A;
    margin-top: 32px;
    transition: 0.3s;
}

.active,
.content_button:hover {
    color: #1D1F1E;
}

.content1 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.pic-content img {
    width: 488px;
    height: 680px;
    margin-top: 10px;
    margin-right: 35px;
}

.content_button1 {
    margin-top: 88px;
}

.voidSpace {
    height: 90px;
}

@media (max-width: 1440px) {
    .content__container {
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    .text-content, .pic-content {
        width: 100%;
    }

    .pic-content {
        margin-left: 0;
        margin-top: 20px;
    }

    .pic-content img {
        width: 100%;
        height: auto;
        position: static;
    }
}

@media (max-width: 768px) {
    .text-content h1 {
        font-size: 20px;
    }

    .content1 p, .content1 a {
        font-size: 16px;
    }

    .content_button {
        font-size: 36px;
    }
    .pic-content img {
        width: 100%;
        height: auto;
        position: static;
    }
}

@media (max-width: 480px) {
    .text-content h1 {
        font-size: 18px;
    }

    .content1 p, .content1 a {
        font-size: 14px;
        width: 100px;
    }

    .content_button {
        font-size: 28px;
        margin-top: 20px;
    }
    .pic-content {
        width: 200px;
        margin-top: 50px;
        margin-left: 200px;
        position: absolute;
    }
    .content_button1 {
        margin-top: 40px;
    }

    .voidSpace {
        height: 60px;
    }
}